<div class="container" style="margin: 0 auto; width: 95%">
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Insertar Colaborador</label>
                </div>

            </div>
            <div style="margin: 0 auto; width: 95%">
                <div style="text-align: center; margin-bottom: auto">
                    CREO QUE AQUI VA EL CONTENIDO DEL FORMULARIO

                </div>

            </div>
        </div>
    </div>
</div>
