
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    @*<link rel="stylesheet" href="css/bootstrap.min.css">*@
    @*<link rel="stylesheet" href="fonts/font-awesome.min.css">*@
    <link href="~/Estilos/EstilosLogin/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Estilos/EstilosLogin/css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="~/Estilos/EstilosPlanes/EstilosPrecios.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/EstilosPrecios.css">*@

    <title>Precios</title>
</head>
<!-- -->

<body>

    <header>
        <div id="arriba" class="container">
            <div class="row contenedor_logo_menu">
                <div class="logo col-xs-12 col-md-6">
                    <a href="#"><img src="~/Imagenes/Login/logo.png" alt=""></a>
                </div>

                <div class="menu col-xs-12 col-md-6">

                    <!-- <a href="#">Productos</a>    -->
                    <a href="/Home/Login">Inicio</a>
                    @*<a href="Informacion.html">Informacion</a>*@
                    <a href="#" id="btn-contacto">Contacto</a>

                </div>
            </div>
        </div>
    </header>

    <section class="main">



        <section class="precios">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="titulo">Planes</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="precio col-sm-12 col-md-12 col-lg-4 ">
                        <div class="plan verde">
                            <p class="nombre">Básico</p>
                            <p class="precio">₡11 300</p>
                            <p class="nombre">Por Mes</p>
                            <ul class="caracteristicas">

                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>1 Administrador</li>
                                <li class="disabled"><i class="fa fa-times-circle text-danger" style="margin:5px"></i>Sub-Administradores</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>3 Colaboradores</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>Clientes Ilimitados</li>


                            </ul>
                            <!--<a href="#" class="btn">Contactanos</a>-->
                        </div>
                    </div>

                    <div class="precio col-sm-12 col-md-12 col-lg-4">
                        <div class="plan active">
                            <p class="nombre">Standard</p>
                            <p class="precio">₡22 600‬‬</p>
                            <p class="nombre">Por Mes</p>
                            <ul class="caracteristicas">
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>3 Administradores</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>2 Sub-Administradores</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>5 Colaboradores</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>Clientes Ilimitados</li>

                            </ul>
                            <!--<a href="#" class="btn">Contactanos</a>-->
                        </div>
                    </div>

                    <div class="precio col-sm-12 col-md-12 col-lg-4">
                        <div class="plan naranja">
                            <p class="nombre">Premium</p>
                            <p class="precio">₡45 200‬‬‬</p>
                            <p class="nombre">Por Mes</p>
                            <ul class="caracteristicas">

                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>Administradores Ilimitados</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>Sub-Administradores Ilimitados</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>Colaboradores Ilimitados</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>Clientes Ilimitados</li>

                            </ul>
                            <!--<a href="#" class="btn">Contactanos</a>-->
                        </div>
                    </div>



                    <div class="precio col-sm-12 col-md-12 col-lg-4 ">
                        <div class="plan verde">
                            <p class="nombre">Básico</p>
                            <p class="precio">₡113 000</p>
                            <p class="nombre">Por Año</p>
                            <ul class="caracteristicas">

                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>1 Administrador</li>
                                <li class="disabled"><i class="fa fa-times-circle text-danger" style="margin:5px"></i>Sub-Administradores</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>3 Colaboradores</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>Clientes Ilimitados</li>


                            </ul>
                            <!--<a href="#" class="btn">Contactanos</a>-->
                        </div>
                    </div>

                    <div class="precio col-sm-12 col-md-12 col-lg-4 ">
                        <div class="plan active">
                            <p class="nombre">Standard</p>
                            <p class="precio">₡226 000</p>
                            <p class="nombre">Por Año</p>
                            <ul class="caracteristicas">

                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>3 Administradores</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>2 Sub-Administradores</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>5 Colaboradores</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>Clientes Ilimitados</li>

                            </ul>
                            <!--<a href="#" class="btn">Contactanos</a>-->
                        </div>
                    </div>

                    <div class="precio col-sm-12 col-md-12 col-lg-4 ">
                        <div class="plan naranja">
                            <p class="nombre">Premium</p>
                            <p class="precio">₡452 000</p>
                            <p class="nombre">Por Año</p>
                            <ul class="caracteristicas">

                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>Administradores Ilimitados</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>Sub-Administradores Ilimitados</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>Colaboradores Ilimitados</li>
                                <li><i class="fa fa-check-circle text-success" style="margin:5px"></i>Clientes Ilimitados</li>

                            </ul>
                            <!--<a href="#" class="btn">Contactanos</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>



    <footer>
        <div class="direccion" id="contacto">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="titulo">Contacto</h4>
                        <p class="calle">Si deseas obtener algunos de nuestro planes<br />contactanos en el siguiente numero o correo electronico.</p>
                        <p class="telefono">WhatsApp (+506) 8598-4564</p>
                        <p class="correo">contacto [arroba] correo.com</p>
                        <div class="casa">
                            <a href="/Home/Login"><i class="fa fa-home" aria-hidden="true"></i></a>
                            <a id="btn-precio" href="#"><i class="ir-arriba fa fa-arrow-circle-up" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4 logo">
                        <form action="" method="post">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Nombre:" />
                            </div>
                            <div class="form-group">
                                <input type="email" name="name" class="form-control" placeholder="Correo Electronico:" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Nombre del Plan:" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" placeholder="Mensaje:"></textarea>
                            </div>

                            <div class="text-center"><button type="submit" class="btn btn-primary">Enviar</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="social">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <li><a href=""><i class="facebook fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                      
                    </div>
                </div>
            </div>
        </div>
    </footer>  

    <script src="~/Js/Login/jquery-3.4.1.min.js"></script>
    <script src="~/Js/Planes/EfectoPrecios.js"></script>
    <script src="~/Js/Login/popper.min.js"></script>
    <script src="~/Js/Login/bootstrap.min.js"></script>

</body>

</html>
