
@{
    ViewBag.Title = "Calendario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        padding-right: 0px !important;
    }
</style>


<div class="container" style="margin: 0 auto; width: 95%">
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Colaboradores</label>
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();' id="Colaboradores">
                        <option value="0" selected hidden>Seleccione uno...</option>
                    </select>
                </div>
                <style>
                    option:hover {
                        background-color: #379fef;
                    }
                </style>
            </div>
            <div style="margin: 0 auto; width: 95%">
                <div style="text-align: center; margin-bottom: auto">

                </div>
                <div id='calendar'></div>

            </div>
        </div>
    </div>
</div>

<input class="form-control" readonly type="hidden" id="DiaSeleccionado" />
<input class="form-control" readonly type="hidden" id="ValidarEvento" />

<div class="modal fade" id="NuevoEvento" tabindex="-1" role="dialog"style="overflow-y: auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-top-left-radius: 10px; border-top-right-radius: 10px">
            <div class="modal-header" style="background-color:#337AB7; border-top-left-radius: 10px; border-top-right-radius: 10px">
                <h4 style="text-align:center; color:#FFFFFF" class="modal-title">Seleccione el Servicio</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Servicio</label>
                    </div>
                    <div class="form-group col-md-5">
                        <select class="form-control" id="Servicios"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Descripcion</label>
                    </div>
                    <div class="form-group col-md-5">
                        <textarea readonly type="text" class="form-control" rows="6" style="border-radius:4px; max-height:300px; min-height: 80px; max-width: 100%; min-width: 100%;" id="txtDescripcionServicio"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Tiempo aproximado del servicio</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input class="form-control" readonly type="text" value="Tiempo" id="TiempoAprox" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Horario Seleccionado</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input class="form-control" readonly type="text" id="txtHorario" />
                        <input class="form-control" readonly type="hidden" id="txtHorarioOculta" />
                        <input class="form-control" readonly type="hidden" id="txtColaboradorOculto" />
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Horario Final</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input class="form-control" readonly type="text" id="TiempoFinal" />
                        <input class="form-control" readonly type="hidden" id="txtFinalHorarioOculto" />
                    </div>
                </div>

                <div id="CajaCorreoCliente" class="row">
                    <div class="form-group col-md-5">
                        <label>Inserte el CorreoElectronico del Cliente</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input class="form-control" placeholder="CorreoElectronico" type="text"  id="CorreoElectronicoCliente" />
                    </div>
                </div>


                <div class="controls">
                    <input type="hidden" id="TiempoCita" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" disabled id="btnReservar" class="btn btn-primary">Reservar</button>
                <button id="btnCerrarEventoCliente" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>


</div>


<div class="modal fade" id="EventoTiempo" tabindex="-1" role="dialog" style="overflow-y: auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-top-left-radius: 10px; border-top-right-radius: 10px">
            <div class="modal-header" style="background-color:#337AB7; border-top-left-radius: 10px; border-top-right-radius: 10px">
                <h4 style="text-align:center; color:#FFFFFF" class="modal-title">Seleccione el Tiempo Libre</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Tiempo Libre</label>
                    </div>
                    <div class="form-group col-md-5">
                        <select class="form-control" id="SeleccionTiempoLibre">
                            <option disabled selected hidden value="0">Seleccione uno...</option>
                            <option value="1">1 Hora Libre</option>
                            <option value="2">30 Minutos Libres</option>
                            <option value="3">Dia libre</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Horario Inicial</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input class="form-control" readonly type="text" id="TiempoInicialLibre" />
                        <input class="form-control" readonly type="hidden" id="TiempoInicialLibreOculto" />
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Horario Final</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input class="form-control" readonly type="text" id="TiempoFinalLibre" />
                        <input class="form-control" readonly type="hidden" id="TiempoFinalLibreOculto" />
                    </div>
                </div>



                <div class="controls">
                    <input type="hidden" id="TiempoLibreDias" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnReservarTiempo" disabled class="btn btn-primary">Reservar</button>
                <button id="btnCerrarModalEventoTiempo" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>


</div>



<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content" style="border-top-left-radius: 10px; border-top-right-radius: 10px" >
            <div class="modal-header" style="background-color:#337AB7; border-top-left-radius: 10px; border-top-right-radius: 10px">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="text-align:center; color:#FFFFFF" class="modal-title">Seleccione la opcion deseada</h4>
            </div>
            <div class="modal-body">    
                <a href="#NuevoEvento" id="EventoCliente" role="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal">Insertar Cita Clientes</a>
                <a href="#EventoTiempo" id="DiasLibres" role="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal">Insertar Dias Libres/Horas</a>                          
            </div>

        </div>
    </div>
</div>

<!--INICIO MODAL INFORMACION-->
<div class="modal fade" tabindex="-1" role="dialog" id="ModalConfirmacionEventos">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0074D9;">
                <h5 style="color:#ffffff;text-align:center" class="modal-title">Información</h5>
            </div>
            <div class="modal-body">
                <p id="msjConfEventos" style="text-align:center"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnConfirmarEliminacion" class="btn btn-primary">Si</button>
                <button type="button" class="btn btn-primary" id="CerrarEliminarEvento" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!--FIN MODAL INFORMACION-->


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/Servicio")
@Scripts.Render("~/bundles/Colaboradores")
@*@Scripts.Render("~/bundles/Eventos")*@
<script src="~/Scripts/Propios/Eventos.js"></script>




