
@{
    ViewBag.Title = "Calendario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" style="margin: 0 auto; width: 95%">
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Colaboradores</label>
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control" id="Colaboradores">
                        <option value="0">Seleccione uno...</option>
                    </select>
                </div>
            </div>
            <div style="margin: 0 auto; width: 95%">
                <div style="text-align: center; margin-bottom: auto">

                </div>
                <div id='calendar'></div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="NuevoEvento" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-top-left-radius: 10px; border-top-right-radius: 10px">
            <div class="modal-header" style="background-color:#337AB7; border-top-left-radius: 10px; border-top-right-radius: 10px">
                <h4 style="text-align:center; color:#FFFFFF" class="modal-title">Seleccione el Servicio</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Servicio</label>
                    </div>
                    <div class="form-group col-md-5">
                        <select class="form-control" id="Servicios">
                            <option value="0">Seleccione uno...</option>
                            @*<option value="01">Servicio 1</option>
                                <option value="02">Servicio 2</option>
                                <option value="03">Servicio 3</option>
                                <option value="04">Servicio 4</option>
                                <option value="05">Servicio 5</option>
                                <option value="06">Servicio 6</option>*@
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Tiempo aproximado del servicio</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input class="form-control" readonly type="text" value="Tiempo" id="TiempoAprox" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Horario Seleccionado</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input class="form-control" readonly type="text" id="txtHorario" />
                        <input class="form-control" readonly type="hidden" id="txtHorarioOculta" />
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Horario Final</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input class="form-control" readonly type="text" id="TiempoFinal" />
                    </div>
                </div>



                <div class="controls">
                    <input type="hidden" id="TiempoCita" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnReservar" class="btn btn-primary" onclick="InsertarEvento()">Reservar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>


</div>
<script src="~/Js/jquery.min.js"></script>
<script>

    $(function () {

        var calendarEl = document.getElementById('calendar');
        var Calendar = FullCalendar.Calendar;


        var calendar = new Calendar(calendarEl, {
            plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid', 'list'],
            defaultView: 'timeGridWeek',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            minTime: "08:00:00",
            maxTime: "19:00:00",
            locale: 'es',
            editable: false,
            dateClick: function (info) {
                $('#TiempoFinal').val("");
                var FechaSeleccionada = moment(info.dateStr).format('YYYY-MM-DD[T]HH:mm:ss');
                $('#TiempoCita').val(FechaSeleccionada);
                $('#txtHorario').val(moment(info.dateStr).format('DD-MM-YYYY hh:mm A'));
                $('#txtHorarioOculta').val(info.dateStr);

                $('#NuevoEvento').modal();

            },
            eventClick: function (info) {
                $('#NuevoEvento').modal();
            }
            //events: [
            //    {
            //        title: 'Prueba',
            //        start: $("#TiempoCita").val(),//'2020-02-17T14:30:00',//new Date(y, m, 1),
            //        backgroundColor: '#f56954', //red
            //        borderColor: '#f56954', //red
            //        allDay: false
            //    }

            //]
        });

        calendar.render();



        $('#btnReservar').on('click', function (e) {
            e.preventDefault();

            doSubmit();
        });

        function doSubmit() {
            $("#NuevoEvento").modal('hide');

            calendar.addEvent({
                title: $("#Servicios option:selected").text(),
                start: $("#TiempoCita").val(),
                allDay: false
            });

        }

    

    })

</script>


<script src="~/Scripts/Propios/Servicio.js"></script>
<script src="~/Scripts/Propios/Colaboradores.js"></script>

@*<script src="~/Scripts/Propios/Eventos.js"></script>*@
