
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Inicio</title>

    @*<link href="~/Estilos/EstilosLogin/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="~/Estilos/EstilosLogin/EstilosLoginPropio.css" rel="stylesheet" />*@
    <link href="~/Estilos/EstilosLogin/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Estilos/Typeahead.css" rel="stylesheet" />*@
    <link href="~/Estilos/EstilosLogin/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="~/Estilos/EstilosLogin/Login.css" rel="stylesheet" />
    <link href="~/Estilos/EstilosLogin/estilos.css" rel="stylesheet" />
    @*<link href="~/Estilos/typeahead.css" rel="stylesheet" />*@
    <link href="~/Estilos/jquery-ui.css" rel="stylesheet" />


</head>

<body>

    <header>
        <div class="container">
            <div class="row contenedor_logo_menu">
                <div class="logo col-xs-12 col-md-6">
                    <a href="#"><img src="~/Imagenes/Login/logo.png" alt=""></a>
                </div>

                <div class="menu col-xs-12 col-md-6">

                    <!--			<a href="#">Productos</a>     -->

                    <a href="#">Precios</a>
                    <a href="#">Contacto</a>
                </div>
            </div>

            <div class="row textos">


                <div class="container2 col col-sm-12 col-lx-12">
                    <div class="row m-1">

                        <div class="col">
                            <form class="formulario" action="">

                                <div @*id="txtIdEmpresaLogin"*@ class="form-group">
                                    <input type="text" required class="form-control" id="txtIdEmpresaLogin" placeholder="Empresa" name="Empresa">
                                    <input type="hidden" id="hfIdEmpresaSel" />
                                </div>

                                <div class="form-group">
                                    <input type="text" required class="form-control" placeholder="Correo Electronico" id="txtCorreoElectronicoLogin" name="CorreoElectronico">
                                </div>

                                <div class="form-group">
                                    <input type="password" required class="form-control" placeholder="Password" name="password" id="txtPassword">
                                </div>

                                <input type="button" onclick="Loguear();" class="btn btn-primary btn-block" value="Iniciar sesion">
                                <p><a class="enlace" href="recuperador.html">¿Olvidaste la contraseña?</a></p>
                            </form>

                            <button class="btn btn-success btn-block data" data-toggle="modal" data-target="#fm-modal">Registrarse</button>
                            <div class="modal fade" id="fm-modal" tabindex="-1" role="dialog" aria-labelledby="fm-modal" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Registro</h5>
                                            <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">

                                            <div class="form-group">
                                                <input type="text" required class="form-control" id="txtIdentificacion" placeholder="Identificación" name="Identificación">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" required class="form-control" id="txtNombre" placeholder="Nombre" name="Nombre">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" required class="form-control" id="txtPrimerApellido" placeholder="Primer Apellido" name="Primer Apellido">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="txtSegundoApellido" placeholder="Segundo Apellido" name="Segundo Apellido">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" required class="form-control" id="txtCorreoElectronico" placeholder="Correo Electrónico" name="Correo electronico">
                                            </div>
                                            <div class="form-group">
                                                <input type="tel" required class="form-control" id="txtTelefono" placeholder="Telefono" name="Telefono">
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" id="ddlGenero">
                                                    <option value="0">Masculino</option>
                                                    <option value="1">Femenino</option>
                                                </select>
                                            </div>
                                            <input type="submit" class="btn btn-success btn-block" onclick="InsertarUsuario()" value="Registrar">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </header>




    <footer>
        <div class="direccion">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="titulo">Contacto</h4>
                        <p class="calle">Si deseas obtener algunos de nuestro planes<br />contactanos en el siguiente numero o correo electronico.</p>
                        <p class="telefono">WhatsApp (+506) 8598-4564</p>
                        <p class="correo">contacto [arroba] correo.com</p>
                    </div>
                    <div class="col-md-4 logo">
                        <img src="~/Imagenes/Login/logo.png" alt="" class="logo">
                    </div>
                </div>
            </div>
        </div>

        <div class="social">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a class="facebook" href="#"><i class="fa fa-envelope"></i></a>
                        <a class="twitter" href="#"><i class="fa fa-youtube"></i></a>
                        <a class="youtube" href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="MsjCorreo" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #28a745 ">
                    <h5 class="modal-title">Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Su Información fue registrada correctamente, una contraseña temporal fue enviada al correo registrado.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="MsjIncorrecto" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #dc3545">
                    <h5 class="modal-title">Incorrecto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="msjModal"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    @*<script src="~/Js/jquery.min.js"></script>
        <script src="~/Js/bootstrap.min.js"></script>*@

    <script src="~/Js/Login/jquery-3.4.1.min.js"></script>
    @*<script src="~/Scripts/typeahead.bundle.min.js"></script>*@
    @*<script src="~/Js/typeahead.bundle.js"></script>*@
    <script src="~/Js/Login/popper.min.js"></script>
    <script src="~/Js/Login/bootstrap.min.js"></script>
    <script src="~/Scripts/Propios/Usuario.js"></script>
    <script src="~/Scripts/Propios/Empresa.js"></script>
    @*<script src="~/Js/jquery-1.12.4.js"></script>*@
    <script src="~/Js/jquery-ui.js"></script>
    <script type="text/javascript">

        function Loguear() {

            var login = {

                'CorreoElectronico': $("#txtCorreoElectronicoLogin").val(),
                'Contrasena': $("#txtPassword").val()

            }
            var IdEmpresa = $("#hfIdEmpresaSel").val();

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Usuario/Loguear",
                data: { login, IdEmpresa },
                success: function (Info) {
                    if (Info.Id > 0) {
                        window.location.href = "/InicioEmpresas/InicioEmpresas?IdEmpresa=" + IdEmpresa
                    } else {
                        $("#msjModal").html("<label>¡Usuario o Contraseña Invalido!</label>");
                        $('#MsjIncorrecto').modal('show');
                    }

                },
                error: function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });
        }

        //$(document).ready(function () {

        //    var empresa =
        //        [
        //            { id: 1, value: "Empresa 1" },
        //            { id: 2, value: "Empresa 2" },
        //            { id: 3, value: "Empresa 3" }
        //        ];

        //    $("#txtIdEmpresaLogin").autocomplete({
        //        source: empresa,
        //        //source: function (request, response) {
        //        //    response($.map(empresas, function (item) {
        //        //        return {
        //        //            id: item.Id,
        //        //            value: item.Nombre

        //        //        }

        //        //    }))
        //        //},
        //        minLength: 1,
        //        autoFocus: true
        //    });
        //});


    </script>



</body>

</html>