
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Inicio</title>
    <link href="~/Estilos/EstilosLogin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Estilos/EstilosLogin/css/EstilosLogin.css" rel="stylesheet" />
    <link href="~/Estilos/EstilosLogin/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Estilos/jquery-ui.css" rel="stylesheet" />
</head>

<style>
    .modal-backdrop {
        z-index: 0 !important;
    }
</style>

<body>

    <header>
        <div class="container">
            <div class="row contenedor_logo_menu">
                <div class="logo col-xs-12 col-md-6">
                    <a href="#"><img src="~/Imagenes/Login/Logo3.gif" alt=""></a>
                </div>

                <div class="menu col-xs-12 col-md-6">
                    <a href="/Home/Planes">Precios</a>
                    @*<a href="Informacion.html">Informacion</a>*@
                </div>
            </div>
        </div>
    </header>



    <section>
        <div class="imgBx">
            <img src="~/Imagenes/Login/Fondo.jpg" alt="">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>INICIAR SESIÓN</h2>
                <form>
                    <div class="inputBx">
                        <span>Nombre de la empresa</span>
                        <input required id="txtIdEmpresaLogin" placeholder="Nombre de la empresa" type="text" name="Empresa">
                        <input type="hidden" id="hfIdEmpresaSel" />
                    </div>
                    <div class="inputBx">
                        <span>Correo electronico</span>
                        <input type="email" required placeholder="Correo Electronico" id="txtCorreoElectronicoLogin" name="CorreoElectronico">
                    </div>
                    <span class="cn">Contraseña</span>
                    <div class="inputBx input-group-prepend">
                        <input id="txtPassword" placeholder="Contraseña" type="password" name="password">
                        <span id="Ojo" style="padding:11px; margin-left:3px; cursor:pointer;" class="fa fa-eye input-group-text"></span>
                    </div>

                    <div class="inputBx">

                        <input type="button" onclick="Loguear();" class="iniciarSesion" value="Iniciar sesion">
                        <p><a class="enlace" href="#" data-toggle="modal" data-target="#OlvidarContrasena">¿Olvidaste la contraseña?</a></p>

                    </div>
                </form>
                <div class="inputBx">
                    <button class="registrarse btn btn-success btn-block data" data-toggle="modal" data-target="#fm-modal">Registrarse</button>
                    <div class="modal fade" id="fm-modal" tabindex="-1" role="dialog" aria-labelledby="fm-modal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Registro</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">

                                    <div class="form-group">
                                        <input type="text" required class="form-control" id="txtIdentificacion" placeholder="Identificación" name="Identificación" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" required class="form-control" id="txtNombre" placeholder="Nombre" name="Nombre" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" required class="form-control" id="txtPrimerApellido" placeholder="Primer Apellido" name="Primer Apellido" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="txtSegundoApellido" placeholder="Segundo Apellido" name="Segundo Apellido" maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" required class="form-control" id="txtCorreoElectronico" placeholder="Correo Electrónico" name="Correo electronico" maxlength="150">
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" onkeyup="limpiarNumero(this)" onchange="limpiarNumero(this)" required class="form-control" id="txtTelefono" placeholder="Telefono" name="Telefono" maxlength="8">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="ddlGenero">
                                            <option value="0">Masculino</option>
                                            <option value="1">Femenino</option>
                                        </select>
                                    </div>

                                    <div class="form-group form-check">
                                        <input type="checkbox" class="CheckTerminosYCondiciones form-check-input" id="TerminosYCondiciones">
                                        <label class="form-check-label">Acepto los <a href="#">Términos y Condiciones</a> </label>
                                    </div>
                                    <div id="cargando" style="display:none;"><img class="d-block mx-auto" src="~/Imagenes/cargando.gif" /> </div>                                    
                                    <input type="submit" class="registrar btn btn-success btn-block" onclick="InsertarUsuario()" value="Registrar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              

                <div class="modal fade" id="OlvidarContrasena" tabindex="-1" role="dialog" aria-labelledby="fm-modal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Olvido Contraseña</h5>
                                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <br />
                            <div>
                                <p style="text-align: center; padding: 0; margin: 1px;">
                                    Escribe tu correo con el cual registraste tu cuenta para enviarte una contraseña temporal.
                                </p>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <input type="text" required class="form-control" id="txtCorreo_Olvidado" placeholder="Correo Electronico" name="Correo">
                                </div>

                                <input type="submit" class="btn btn-success btn-block" onclick="OlvidarContrasena();" value="Enviar">
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Nuestras Redes Sociales</h3>
                <ul class="sci">
                    <a href=""><li class="facebook"><img src="~/Imagenes/Login/Facebook.png" alt=""></li></a>
                    <a href=""><li class="instagram"><img src="~/Imagenes/Login/instagram.png" alt=""></li></a>
                    <a href=""><li class="youtube"><img src="~/Imagenes/Login/Youtube.png" alt=""></li></a>
                </ul>
            </div>

        </div>
    </section>

    <div class="modal fade" id="MsjCorreo" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #28a745 ">
                    <h5 class="modal-title">Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Su Información fue registrada correctamente, una contraseña temporal fue enviada al correo registrado.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="MsjIncorrecto" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #dc3545">
                    <h5 class="modal-title">Incorrecto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="msjModal"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="MsjCorrecto" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #28a745 ">
                    <h5 class="modal-title" id="lblTituloCorrecto"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="lblMensajeCorrecto"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="MsjIncorrecto" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #dc3545">
                    <h5 class="modal-title">Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="msjModalIncorrecto"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>






    <script type="text/javascript">

        function limpiarNumero(obj) {
            /* El evento "change" sólo saltará si son diferentes */
            obj.value = obj.value.replace(/\D/g, '');
        }
    </script>



    <script src="~/Js/Login/jquery-3.4.1.min.js"></script>
    <script src="~/Js/Login/popper.min.js"></script>
    <script src="~/Js/Login/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/Usuario")
    @Scripts.Render("~/bundles/Empresa")
    @Scripts.Render("~/bundles/MostrarYOcutarContrsena")
    @Scripts.Render("~/bundles/OlvidarContrasena")
    <script src="~/Js/jquery-ui.js"></script>

</body>

</html>