
@{
    ViewBag.Title = "DiasLibresColaboradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   
        <div class="container" style="margin: 0 auto; width: 90%">
            <div class="panel panel-default" style="margin-top: 20px">
                <div class="panel-body">
                    <div style="margin: 0 auto; width: 95%">
                        <div style="text-align: center; margin-bottom: 50px">
                            <h3 id="lblTitulo" class="box-header">Listado de Dias Libres</h3>
                            <hr />

                            <div class="form-group col-md-12">
                                <select class="form-control" id="ddlColaboradores">
                                    @*<option value="0">Seleccione uno...</option>*@
                                </select>
                            </div>
                            <hr />

                            <form action="" class="formulario row">


                                <div class="dias row col-lg-12">

                                    <div class="col-xs-6 col-md-4 col-lg-4">
                                        <p>Lunes</p>
                                        <label>
                                            <input type="checkbox" name="" id="CheckLunes">
                                            <span class="btn"></span>
                                            <i class="fa fa-power-off"></i>
                                        </label>
                                    </div>

                                    <div class="col-xs-6 col-md-4 col-lg-4">
                                        <p>Martes</p>

                                        <label>
                                            <input type="checkbox" name="" id="CheckMartes">
                                            <span class="btn"></span>
                                            <i class="fa fa-power-off"></i>
                                        </label>
                                    </div>

                                    <div class="col-xs-6 col-md-4 col-lg-4">
                                        <p>Miercoles</p>

                                        <label>
                                            <input type="checkbox" name="" id="CheckMiercoles">
                                            <span class="btn"></span>
                                            <i class="fa fa-power-off"></i>
                                        </label>
                                    </div>

                                    <div class="col-xs-6 col-md-4 col-lg-4">
                                        <p>Jueves</p>

                                        <label>
                                            <input type="checkbox" name="" id="CheckJueves">
                                            <span class="btn"></span>
                                            <i class="fa fa-power-off"></i>
                                        </label>
                                    </div>

                                    <div class="col-xs-6 col-md-4 col-lg-4">
                                        <p>Viernes</p>

                                        <label>
                                            <input type="checkbox" name="" id="CheckViernes">
                                            <span class="btn"></span>
                                            <i class="fa fa-power-off"></i>
                                        </label>
                                    </div>

                                    <div class="col-xs-6 col-md-4 col-lg-4">
                                        <p>Sabado</p>

                                        <label>
                                            <input type="checkbox" name="" id="CheckSabado">
                                            <span class="btn"></span>
                                            <i class="fa fa-power-off"></i>
                                        </label>
                                    </div>

                                    <div class="col-xs-12 col-lg-12">
                                        <p>Domingo</p>

                                        <label>
                                            <input type="checkbox" name="" id="CheckDomingo">
                                            <span class="btn"></span>
                                            <i class="fa fa-power-off"></i>
                                        </label>
                                    </div>


                                </div>
                            </form>
                                      

                            <div style="text-align: center; margin-bottom: 20px">
                                <div class="col-md-12">
                                    <div class="row" style="margin: 15px">
                                        <a class="btn btn-success" style="margin:0 auto" onclick="AsignarDiasLibres()">Guardar</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*INICIO MODAL INFORMACION*@
        <div class="modal fade" tabindex="-1" role="dialog" id="ModalConfirmacionDiasLibres">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#0074D9;">
                        <h5 style="color:#ffffff;text-align:center" class="modal-title">Información</h5>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="IdDiaLibreSeleccionado" />
                        <p id="msjConfDiaLibre" style="text-align:center"></p>
                    </div>

                </div>
            </div>
        </div>
        @*FIN MODAL INFORMACION*@
        <script src="~/Js/jquery.min.js"></script>
        <script src="~/Scripts/Propios/ListaDiaLibreColaboradores.js"></script>
