
@{
    ViewBag.Title = "InicioEmpresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Estilos/bootstrap")

<div class="container" style="margin: 0 auto; width: 90%">
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <div style="margin: 0 auto; width: 95%">
                <div style="text-align: center; margin-bottom: 50px">
                    <h3 id="lblTitulo" style="text-align:center" class="box-header">Bienvenido</h3>
                    <hr />
                </div>
                <div class="row mt-3">
                    <div class="col">

                        <div class="form-group row">

                            <div class="col-12 col-md-6 mb-3">
                                @*<label type="text" class="form-control" name="nombre" id="lblNombreEmpresa"></label>*@
                                <input readonly type="text" class="form-control" placeholder="Nombre" name="nombre" id="txtNombreEmpresa">
                                
                                <br />
                                <textarea readonly name="Descripcion" id="Dscripcion" placeholder="Descripcion" class="form-control"></textarea>
                                @*<label style="height:200px;" class="form-control" id="txtDescripcionEmpresa" type="mensaje">Descripcion</label>*@
                            </div>

                            <div class="col-12 col-md-6 mb-3">
                                <!--<input type="text" required class="form-control" id="txtTituloHoras" placeholder="Hora de Atencion" name="Hora de Atencion">-->
                                <label style="text-align:center;" type="text" class="form-control" name="Hora de Atencion" id="txtTituloHoras">Horario</label>
                                <br />
                                <!--<input type="text" required class="form-control" id="txtEntreSemana" placeholder="Lunes a viernes" name="Lunes a viernes">-->
                                <label style="text-align:center;" type="text" class="form-control" name="Lunes a viernes" id="txtEntreSemana">Lunes a Viernes</label>
                                <label>Desde las 7:00 am</label>
                                <br />
                                <label>Hasta las 4:00 pm</label>
                                <br />

                                <!--<input type="text" required class="form-control" id="txtFinSemana" placeholder="Sabado y domingos" name="Sabado y Domingo">-->
                                <label style="text-align:center;" type="text" class="form-control" name="Sabado y Domingo" id="txtFinSemana">Sabado y Domingo</label>
                                <label>Desde las 7:00 am</label>
                                <br />
                                <label>Hasta las 4:00 pm</label>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="col-12 col-md-6 mb-3">
                                <!--<textarea name="mensaje" id="direccion" placeholder="Direccion" class="form-control"></textarea>-->
                                <label style="height:200px;" class="form-control" id="direccion" type="text">Direccion</label>
                                <br />
                                <!--<input type="tel" required class="form-control" id="contacto" placeholder="Contacto" name="Contacto" />-->
                                <label type="text" class="form-control" name="contacto" id="txtContactoEmpresa">Contacto</label>
                            </div>

                            <div class="col-12 col-md-3 mb-3">
                                <!--<input type="tel" required class="form-control" id="contacto" placeholder="Contacto" name="Contacto" />-->
                            </div>

                            <div class="col-12 col-md-3 mb-3">

                            </div>
                        </div>

                        <!--<input type="submit" class="btn btn-primary btn-block mb-3" value="Enviar">-->

                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
<script src="~/Js/jquery.min.js"></script>
<script src="~/Scripts/Propios/InicioEmpresas.js"></script>