
@{
    ViewBag.Title = "GuiaRegristroDatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <link href="~/Estilos/Guia/estilosTemario.css" rel="stylesheet" />

<div class="container" style="margin: 0 auto; width: 90%">
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <div style="margin: 0 auto; width: 95%">
                <h1 class="titulo">Pasos Registro Datos</h1>

                <div class="contenedor">
                    <aside>
                        <div class="contenedor-temario" id="temario">
                            <h3 class="titulo">Pasos</h3>
                            <ul class="lista">
                                <li class="activo"><a href="#1">1. Primer Paso</a></li>
                                <li><a href="#2">2. Segundo Paso</a></li>
                                <li><a href="#3">3. Tercer Paso</a></li>
                                <li><a href="#4">4. Cuarto Paso</a></li>
                                <li><a href="#5">5. Quinto Paso</a></li>
                            </ul>
                        </div>
                    </aside>
                    <main>
                        <div class="card" id="1">
                            <h1>1. Primer Paso</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ullam blanditiis sapiente, alias ut optio corrupti harum? Voluptatum obcaecati nobis perferendis similique aperiam impedit, qui ullam. Sint impedit aspernatur cumque.</p>
                        </div>
                        <div class="card" id="2">
                            <h1>2. Segundo Paso</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ullam blanditiis sapiente, alias ut optio corrupti harum? Voluptatum obcaecati nobis perferendis similique aperiam impedit, qui ullam. Sint impedit aspernatur cumque.</p>
                        </div>
                        <div class="card" id="3">
                            <h1>3. Tercer Paso</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ullam blanditiis sapiente, alias ut optio corrupti harum? Voluptatum obcaecati nobis perferendis similique aperiam impedit, qui ullam. Sint impedit aspernatur cumque.</p>
                        </div>
                        <div class="card" id="4">
                            <h1>4. Cuarto Paso</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ullam blanditiis sapiente, alias ut optio corrupti harum? Voluptatum obcaecati nobis perferendis similique aperiam impedit, qui ullam. Sint impedit aspernatur cumque.</p>
                        </div>
                        <div class="card" id="5">
                            <h1>5. Quinto Paso</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ullam blanditiis sapiente, alias ut optio corrupti harum? Voluptatum obcaecati nobis perferendis similique aperiam impedit, qui ullam. Sint impedit aspernatur cumque.</p>
                        </div>
                    </main>
                </div>



            </div>
        </div>
    </div>
</div>
<script src="~/Js/Guia/mainTemario.js"></script>
