
@{
    ViewBag.Title = "GuiaCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/Estilos/Guia/estilosUsuarios.css" rel="stylesheet" />
<div class="container" style="margin: 0 auto; width: 90%">
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <div style="margin: 0 auto; width: 95%">


                <main>
                    <h1 class="titulo">Guia del Cliente</h1>
                    <div class="categorias" id="categorias">
                        <div class="categoria activa" data-categoria="evento">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17 3v-2c0-.552.447-1 1-1s1 .448 1 1v2c0 .552-.447 1-1 1s-1-.448-1-1zm-12 1c.553 0 1-.448 1-1v-2c0-.552-.447-1-1-1-.553 0-1 .448-1 1v2c0 .552.447 1 1 1zm13 13v-3h-1v4h3v-1h-2zm-5 .5c0 2.481 2.019 4.5 4.5 4.5s4.5-2.019 4.5-4.5-2.019-4.5-4.5-4.5-4.5 2.019-4.5 4.5zm11 0c0 3.59-2.91 6.5-6.5 6.5s-6.5-2.91-6.5-6.5 2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5zm-14.237 3.5h-7.763v-13h19v1.763c.727.33 1.399.757 2 1.268v-9.031h-3v1c0 1.316-1.278 2.339-2.658 1.894-.831-.268-1.342-1.111-1.342-1.984v-.91h-9v1c0 1.316-1.278 2.339-2.658 1.894-.831-.268-1.342-1.111-1.342-1.984v-.91h-3v21h11.031c-.511-.601-.938-1.273-1.268-2z" /></svg>
                            <p>Evento</p>
                        </div>


                        <div class="preguntas">

                            <!-- Preguntas Evento -->
                            <div class="contenedor-preguntas activo" data-categoria="evento">

                                <div class="contenedor-pregunta">
                                    <p class="pregunta">¿Como insertar eventos? <img src="~/Imagenes/GuiaImagenes/suma.svg" /></p>
                                    <p class="respuesta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum laborum porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente, voluptates soluta adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur, doloribus.adipisicing elit. Voluptatum laborum porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente, voluptates soluta adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur, doloribus.</p>
                                </div>

                                <div class="contenedor-pregunta">
                                    <p class="pregunta">¿Como eliminar eventos? <img src="~/Imagenes/GuiaImagenes/suma.svg" /></p>
                                    <p class="respuesta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum laborum porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente, voluptates soluta adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur, doloribus.adipisicing elit. Voluptatum laborum porro voluptates, sequi aliquam mollitia! Nostrum eius iure sapiente, voluptates soluta adipisci, perferendis voluptatibus eligendi vel saepe harum. Consectetur, doloribus.</p>
                                </div>

                            </div>

                        </div>
                </main>




            </div>
        </div>
    </div>
</div>
<script src="~/Js/jquery.min.js"></script>
<script src="~/Js/Guia/categorias.js"></script>
<script src="~/Js/Guia/preguntasFrecuentes.js"></script>

